body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size:cover;
    font-size:120%;
}
.card {
    background: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    opacity:0;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    transition: opacity 1s ease-in-out , filter 1s ease-in-out;

}

.search{
    display:flex;
    align-items:center;
    justify-content:center;
}
input.search-bar {
    outline: none;
    padding: 0.4em 1em;
    border: none;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width:calc(100% - 100px);

}

button {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin: 0.5em;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #7c7c7c6b;
}
h1.temp {
    margin: 0;
    margin-bottom:.4em;
}


.description {
    text-transform: capitalize;
    margin-left:8px;
}

.flex{
    display:flex;
    align-items: center;
}


.weather.loading{

    display:none;
    max-height:20px;
    position:relative;

}

.weather.loading.after{

    visibility: visible;
    content: "Loading..."
    color:white;
    position:absolute;
    top:0;
    left:20px;
}

.footer
{
    position:absolute;
    bottom:0;
    color:#fffa;
    display:flex;
    margin-bottom:1.5em;
    
}
.text > svg {
    padding-left: .8em;
    padding-top: 0.03em;
}

.text {
    font-size: .8em;
}

a { color: inherit; } 
svg {
    padding-left: .5em;
}
